.sc-center {
  text-align: center;
}
.sc-fl {
  float: left;
}
.sc-fr {
  float: right;
}
.f-weight {
  font-weight: 600;
}
.b-radius {
  border-radius: 50%;
}
.sc-header {
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
}
.text-overflow-one {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-overflow-much {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.d-block {
  display: block;
  
}
.m-auto {
  margin: 0 auto;
  display: block;
}
.of {
  overflow: hidden;
}
.c-fff {
  color: #fff;
}
.c-666 {
  color: #666;
}
.c-333 {
  color: #333;
}
.c-999 {
  color: #999;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.bg-fff {
  background-color: #fff;
}

